.comments_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #483434;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #483434;
  margin-bottom: 15px;
  margin-top: 15px;
}

.comments_container > input {
  width: 400px;
  outline: none;
  margin-top: 10px;
  padding-left: 10px;
  height: 30px;
  border: none;
  border-bottom: #483434 solid 1px;
  background-color: #f2e6dc;
  margin-bottom: 10px;
}

.comment_container {
  display: flex;
  max-width: 80%;
}

.coment_icon_container {
  padding: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.coment_icon_container:hover {
  cursor: pointer;
}
